﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SSO.aspx.cs" Inherits="Vizelia.FOL.Web.SSO" %>

<%@ Import Namespace="System.Globalization" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body dir="<%=Vizelia.FOL.Common.Localization.Langue.langue_direction%>">
    
    <form id="form1" runat="server">
    <div>
       </div>
    </form> 
</html>
