﻿/* Fix to remove the darker body of  windows in the default gray theme*/
body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #F4F4F4 !important;
}

/*Beginning of style for Ribbon */
.x-btn-group.x-btn-group-ribbonstyle .x-btn-group-bc {
    background-image: url('/Resources/images/gray/ux/ribbon/group-bt.gif') !important;
}

.x-btn-group-ribbonstyle .x-btn-group-bc {
    background-image: url('/Resources/images/gray/ux/ribbon/ribbon-group-bt.gif') !important;
}

.ui-ribbon .x-toolbar {
    background-image: url('/Resources/images/gray/ux/ribbon/ribbon-bg.gif') !important;
}

.ui-ribbon .x-tab-strip-top .x-tab-right, .ui-ribbon .x-tab-strip-top .x-tab-left, .ui-ribbon .x-tab-strip-top .x-tab-strip-inner {
    background-image: url('/Resources/images/gray/ux/ribbon/ribbon-tabs-sprite.gif') !important;
}

.ui-ribbon ul.x-tab-strip-top, .ui-ribbon .x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-bottom-color: #D0D0D0;
}

/* End of style for Ribbon */
/* VerticalTabPanel style */
/* Left Panel background */
.x-vr-tab-panel {
    border-color: #CCCCCC !important;
    border-bottom: 1px solid #CCCCCC !important;
}

/* Left Panel */
.x-vr-tab-panel-header {
    border-bottom: 0 none !important;
}

/* Right Body Panel */
.x-vr-tab-panel-bwrap {
    border-left: 1px solid #CCCCCC !important;
}
/*End style for VerticalTabPanel */

/* Style for Ext.ux.Calendar */

.x-panel-mc .x-panel-body .ext-cal-ct, .x-panel-mc .x-panel-body .ext-evt-edit-form {
    border-left: 1px solid #B5B5B5 !important;
    border-right: 1px solid #B5B5B5 !important;
}

.ext-cal-month-hd .ext-cal-hd-days-tbl {
    border-top: 1px solid #B5B5B5 !important;
}
.ext-cal-month-hd .ext-cal-hd-day {
    border-left: 1px solid #D6D6D6 !important;
}
.ext-cal-hd-ct {
    border-bottom: 1px solid #CCCCCC !important;
}

.ext-cal-dayview .ext-cal-hd-days-tbl {
    background-color: #D9D9D9 !important;
}

.ext-cal-hd-ad {
    border-color: #E9E9E9 #E9E9E9 #E9E9E9 #E9E9E9 !important;
}



.ext-cal-dayview .ext-cal-bg-tbl {
    border-bottom: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
}

.ext-cal-day-times {
    background-color: #F8F8F8 !important;
}

.ext-cal-monthview .ext-cal-week-link, .ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 1px solid #D6D6D6 !important;
    border-right: 1px solid #D6D6D6 !important;
}
.ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 1px solid #B5B5B5 !important;
}
.ext-cal-monthview .ext-week-link-over {
    background: #E5E5E5 !important;
}
.ext-cal-week-links .ext-cal-day-first {
    border-left: 1px solid #D6D6D6 !important;
}
.ext-cal-day {
    border-left: 1px solid #D6D6D6 !important;
}
.ext-day-over {
    background: #E3E3E3 !important;
}
td.ext-cal-dtitle {
    border-top: 1px solid #D6D6D6 !important;
    color: #BFBFBF !important;
}
td.ext-cal-dtitle-first {
    border-top: 1px solid #CCCCCC !important;
}
.ext-cal-dd-sel {
    background-color: #D6D6D6 !important;
}
.ext-cal-nav-picker {
    border-style: none none solid;
    border-color: #B5B5B5 !important;
}
.ext-cal-nav-picker .x-date-inner {
    border-top: 1px solid #CCCCCC !important;
}
.ext-cal-nav-picker .x-date-inner th {
    border-bottom: 1px solid #CCCCCC !important;
}

.ext-evt-edit-form .x-panel-bbar .x-toolbar {
    border-bottom: 1px solid #B5B5B5 !important;
}
.ext-evt-edit-form .x-panel-header {
    border-bottom: 1px solid #CCCCCC !important;
}
.x-panel-mc .ext-evt-edit-form .x-panel-header {
    border-top: 1px solid #B5B5B5 !important;
}
.ext-evt-edit-form .x-panel-fbar {
    background: #E6E6E6 !important;
    border: 1px solid #CCCCCC !important;
}
.x-cal-default, .x-cal-default-x .ext-cal-evb, .ext-ie .x-cal-default-ad, .ext-opera .x-cal-default-ad {
    color: #858585 !important;
}
.ext-cal-day-col .x-cal-default, .ext-dd-drag-proxy .x-cal-default, .x-cal-default-ad, .x-cal-default-ad .ext-cal-evm, .x-cal-default .ext-cal-picker-icon, .x-cal-default-x dl, .x-calendar-list-menu li em .x-cal-default {
    background: #858585 !important;
}
.x-panel-mc .extensible-recur-inner-ct {
    border-left: 2px solid #BEBEBE !important;
}
/* End Style for Ext.ux.Calendar */
