﻿/* Vizelia rtl */
.appTitle {
    background-position: right 5px;
    padding-right: 60px !important;
    position: absolute;
    right: 0;
    text-align: right;
}


.viz-grid-img-header {
    vertical-align: middle;
    padding-right: 0px !important;
    margin-left: 4px;
    width: 16px;
    height: 18px;
    display: inline-block;
}

.viz-icon-cell .x-grid3-cell-inner {
    padding-right: 20px !important;
    margin-right: 2px;
    padding-left: -20px !important;
}

.x-grid3-cell, .viz-icon-cell {
    background-position: right center;
}

.x-form-field-wrap .x-icon-combo-icon {
    right: 5px;
    top: 3px;
}

.x-icon-combo-input {
    padding-right: 25px;
}

.x-icon-combo-item {
    background-position: right 50% !important;
    background-repeat: no-repeat !important;
    padding-right: 24px;
}

.x-icon-combo-icon-large {
    background-position: right 50% !important;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    float: right;
    padding-right: 10px;
}

.viz-icon-displayfield {
    background-position: right center;
    padding-right: 20px;
    padding-left: -20px;
}

.x-form-item {
    overflow: hidden !important;
}

.x-form-field-wrap {
    text-align: right;
}



.x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
    background-position: 100% 3px;
    background-repeat: no-repeat;
    padding-left: 0;
    padding-right: 20px;
    margin-left: 20px;
}



.combo-result-item h3 span {
    clear: none;
    display: block;
    float: left;
    font-weight: normal;
    margin: 0 0 0px 0px;
    text-align: left;
    font-size: 9px;
}

.xcheckbox-wrap a {
    float: right;
}

.x-superboxselect li {
    float: right;
}
.x-superboxselect-item {
    position: relative;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    o-border-radius: 6px;
    khtml-border-radius: 6px;
    border: 1px solid #CAD8F3;
    background-color: #DEE7F8;
    padding: 1px 15px 1px 15px !important;
    background-position: 98% center;
}
.x-superboxselect-item .viz-ident {
    text-indent: 5px !important;
}

.x-superboxselect-item-close {
    left: 1px;
    right: auto;
}

x-superboxselect-item viz-indent viz-icon-small-site {
    background-position: 98% center;
}

.x-form-field-wrap .x-form-trigger {
    left: auto !important;
}

.x-menu-list-item .x-menu-item-icon {
    top: auto !important;
}
.x-menu-list-item-indent .x-menu-item-icon {
    right: -10px;
    left: auto !important;
    margin-right: 10px;
}
li.x-menu-list-item-indent {
    padding-right: 2px;
}
/* End Vizelia rtl */
