/* 
	Resets defualt browser settings
	reset.css
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
a:active {
    outline: none;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

/*
	Page style
*/

body {
    font: normal 13px/1.5 Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    color: #434343;
    background: #efefef url(../img/background.png) repeat top center;
    padding: 20px 0;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -webkit-font-smoothing: subpixel-antialiased;
    width: 100%;
}

#container {
    position: absolute;
    top: 0px;
    left: 0%;
    right: 0%;
    z-index: 0;
}

#slides .slidesNext, #slides .slidesPrevious {
    position: absolute;
    top: 50%;
    left: -40px;
    width: 24px;
    height: 0;
    margin-top: -32px;
    padding-top: 32px;
    display: block;
    z-index: 101;
    overflow: hidden;
    background: url(../img/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
    right: -35px;
    left: auto;
}
#slides .slidesPrevious {
    left: -35px;
}
/*
	Pagination
*/

.slidesPagination {
    margin: 10px 0 0;
    float: right;
}

.slidesPagination li {
    float: left;
    margin: 0 1px;
    list-style: none;
}

.slidesPagination li a {
    display: block;
    width: 14px;
    height: 0;
    padding-top: 14px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    overflow: hidden;
}

.slidesPagination li.slidesCurrent a {
    background-position: 0 -14px;
}
