/* buttons */
.x-btn { direction: ltr; }
.x-btn-text {direction: rtl; }

.x-btn-mc em.x-btn-arrow { background-position:left center; padding-right:0; padding-left:10px; }
.x-btn-mc em.x-btn-split { background-position:left center; display:block; padding-right:0; padding-left:14px; }
.x-btn-mc em.x-btn-split { background-image:url(/ExtJS/rtl/Resources/images/default/button/s-arrow-rtl.gif); }
.x-btn-over .x-btn-mc em.x-btn-split, .x-btn-click .x-btn-mc em.x-btn-split, .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-btn-pressed .x-btn-mc em.x-btn-split {
    background-image:url(/ExtJS/rtl/Resources/images/default/button/s-arrow-o-rtl.gif);
}

/* menus */
.x-menu { background-image:url(/ExtJS/rtl/Resources/images/default/menu/menu-rtl.gif); background-position: top right; background-repeat:repeat-y; }
.x-menu-item-arrow{ background-image:url(/ExtJS/rtl/Resources/images/default/menu/menu-parent-rtl.gif); background-position:left center;}
a.x-menu-item { padding:3px 27px 3px 21px; }
.x-menu-item-icon { left:auto; right:3px; }
.x-menu .x-color-palette { margin-right:26px; margin-left:4px; }
.x-menu-list-item-indent { padding-left:auto; padding-right:27px; }

/* Panels */
.x-tool {float:left;}
.x-panel-tl .x-panel-icon, .x-window-tl .x-panel-icon { background-position:100% 4px; padding-right:20px !important; padding-left:0 !important; }

/*Layouts*/
.x-column { float:right;}
.x-panel-inline-icon { margin-left:4px; margin-right:0; }
.x-tool-expand-east, .x-tool-expand-west { float:none }

/*Tabs*/
ul.x-tab-strip li{direction:ltr; float:right;margin-right:2px; margin-left:0; width:120px;}
ul.x-tab-strip > li{width:auto;}
.x-tab-strip-text {direction: rtl;}
ul.x-tab-strip li.x-tab-edge { float:right;}
.x-tab-scroller-left { left:auto; right:0; background-image:url(/ExtJS/rtl/Resources/images/default/tabs/scroll-left-rtl.gif); }
.x-tab-scroller-right { right:auto; left:0; background-image:url(/ExtJS/rtl/Resources/images/default/tabs/scroll-right-rtl.gif); }
.x-tab-strip .x-tab-with-icon span.x-tab-strip-text { background-position:100% 3px; background-repeat:no-repeat; padding-right:20px; padding-left:0; }
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {right:auto; left:3px;}
.x-tab-strip-closable .x-tab-left { padding-left:3px;padding-right:3px; }

/*Grids*/
.x-props-grid .x-grid3-td-name .x-grid3-cell-inner {
    background-image:url(/ExtJS/rtl/Resources/images/default/grid/grid3-special-col-bg-1-rtl.gif) !important;
    padding-left: 0; padding-right: 12px; background-position: 100% 0% !important;
}
.x-grid3-hd-btn { left:0; right:auto; background-image:url(/ExtJS/rtl/Resources/images/default/grid/grid3-hd-btn-rtl.gif); }
.x-grid3-hd-row td { border-right-color:#EEEEEE; border-left-color:#D0D0D0; }
.x-grid3-body .x-grid3-td-numberer, .x-grid3-body .x-grid3-td-expander, .x-grid3-body .x-grid3-td-checker {
    background-image:url(/ExtJS/rtl/Resources/images/default/grid/grid3-special-col-bg-rtl.gif);
}
.x-grid-group-hd div { background-position: 99% -47px; padding:4px 20px 4px 17px; }
.x-grid-group-collapsed .x-grid-group-hd div { background-position:99% 3px; }
.x-grid3-header-offset  { text-align:right; }

/*Forms*/
.x-form-item label { float:right; }
.x-form-label-left label { text-align: right }

.x-form-label-left label.x-form-item-label { text-align:right; }
.x-form-item label.x-form-item-label { clear:right; display:block; float:right; padding:3px 0 3px 3px; }

.ext-safari .x-form-field-wrap .x-form-trigger,.ext-gecko .x-form-field-wrap .x-form-trigger ,.ext-webkit .x-form-field-wrap .x-form-trigger{
    right:auto; left:0;
}
.x-form-field-wrap .x-form-trigger {background-image:url(/ExtJS/rtl/Resources/images/default/form/trigger-rtl.gif)}
.x-form-field-wrap .x-form-date-trigger { background-image: url(/ExtJS/rtl/Resources/images/default/form/date-trigger-rtl.gif); }
.x-form-field-wrap .x-form-clear-trigger { background-image: url(/ExtJS/rtl/Resources/images/default/form/clear-trigger-rtl.gif); }
.x-form-field-wrap .x-form-search-trigger { background-image: url(/ExtJS/rtl/Resources/images/default/form/search-trigger-rtl.gif); }

/*Date picker*/
.x-date-right a { background-image: url(/ExtJS/rtl/Resources/images/default/shared/left-btn-rtl.gif); }
.x-date-left a{ background-image: url(/ExtJS/rtl/Resources/images/default/shared/right-btn-rtl.gif); }
.x-date-middle .x-btn-mc em.x-btn-arrow { background-position: 0 0; }
x-btn-mc em.x-btn-arrow { padding-left: 12px }
.x-date-mp-ybtn a.x-date-mp-next { background-position:0 -105px; }
.x-date-mp-ybtn a.x-date-mp-prev { background-position:0 -120px; }
.x-date-mp-ybtn a.x-date-mp-next:hover { background-position:-15px -105px; }
.x-date-mp-ybtn a.x-date-mp-prev:hover { background-position:-15px -120px; }

/*Toolbar icons*/
.x-tbar-page-first{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-first-rtl.gif) !important; }
.x-tbar-page-last{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-last-rtl.gif) !important; }
.x-tbar-page-next{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-next-rtl.gif) !important; }
.x-tbar-page-prev{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-prev-rtl.gif) !important; }
.x-item-disabled .x-tbar-page-first{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-first-disabled-rtl.gif) !important; }
.x-item-disabled .x-tbar-page-last{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-last-disabled-rtl.gif) !important; }
.x-item-disabled .x-tbar-page-next{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-next-disabled-rtl.gif) !important; }
.x-item-disabled .x-tbar-page-prev{ background-image: url(/ExtJS/rtl/Resources/images/default/grid/page-prev-disabled-rtl.gif) !important; }

/*Toobar elements*/
.x-toolbar .x-btn-over .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split,
.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split
{
    background-image:url(/ExtJS/rtl/Resources/images/default/button/s-arrow-o-rtl.gif);
}
.x-toolbar .x-btn-mc em.x-btn-split { background-image:url(/ExtJS/rtl/Resources/images/default/button/s-arrow-noline-rtl.gif); }
.x-toolbar-more-icon { background-image:url(/ExtJS/rtl/Resources/images/default/toolbar/more-rtl.gif) !important; }
.x-btn-mc em.x-btn-arrow { background-position:left center; padding-right:0; padding-left:10px; }
.x-toolbar-more em.x-btn-arrow { padding-left:0}
.x-toolbar-right td .x-form-field-trigger-wrap { text-align:right }

/*MessageBox and Window*/
.x-window-dlg .ext-mb-icon {float:right;}
.x-window-dlg .ext-mb-info, .x-window-dlg .ext-mb-warning, .x-window-dlg .ext-mb-question, .x-window-dlg .ext-mb-error {
    background-position: right top;
}
.x-window-dlg .x-dlg-icon .ext-mb-content { margin-left:0; margin-right:47px }
.x-hidden, .x-hide-offsets { left:0px; }

/* ProgressBar */
.x-progress-bar { float:right }
.x-progress-text { left:auto; right:0; }

/* Tree */
.x-tree-lines .x-tree-elbow { background-image:url(/ExtJS/rtl/Resources/images/default/tree/elbow-rtl.gif); }
.x-tree-lines .x-tree-elbow-plus { background-image:url(/ExtJS/rtl/Resources/images/default/tree/elbow-plus-rtl.gif); }
.x-tree-lines .x-tree-elbow-minus { background-image:url(/ExtJS/rtl/Resources/images/default/tree/elbow-minus-rtl.gif); }
.x-tree-lines .x-tree-elbow-end { background-image:url(/ExtJS/rtl/Resources/images/default/tree/elbow-end-rtl.gif); }
.x-tree-lines .x-tree-elbow-end-plus { background-image:url(/ExtJS/rtl/Resources/images/default/tree/elbow-end-plus-rtl.gif); }
.x-tree-lines .x-tree-elbow-end-minus { background-image:url(/ExtJS/rtl/Resources/images/default/tree/elbow-end-minus-rtl.gif); }
.x-tree-lines .x-tree-elbow-line { background-image:url(/ExtJS/rtl/Resources/images/default/tree/elbow-line-rtl.gif); }

.x-tree-arrows .x-tree-elbow-plus{
    background-image:url(/ExtJS/rtl/Resources/images/default/tree/arrows-rtl.gif);
}

.x-tree-arrows .x-tree-elbow-minus{
    background-image:url(/ExtJS/rtl/Resources/images/default/tree/arrows-rtl.gif);
}

.x-tree-arrows .x-tree-elbow-end-plus{
    background-image:url(/ExtJS/rtl/Resources/images/default/tree/arrows-rtl.gif);
}

.x-tree-arrows .x-tree-elbow-end-minus{
    background-image:url(/ExtJS/rtl/Resources/images/default/tree/arrows-rtl.gif);
}
